:root {
  --main-color: #55abee;
  --button-hover: #228dcf;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-default-style {
  width: 100%;
}

.default-button-style {
  width: 100%;
  background-color: #55abee !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  border-radius: 20px !important;
  height: 40px !important;
}
.default-button-style:hover {
  background-color: #228dcf !important;
}

.logout-button-style {
  width: 120px;
  background-color: rgb(158, 13, 13) !important;
  margin-top: auto !important;
  margin-bottom: 20px !important;
  margin-left: 30px !important;
  border-radius: 20px !important;
  height: 40px !important;
}
.logout-button-style:hover {
  background-color: rgb(255, 0, 0) !important;
}

.hover-white:hover {
  background-color: white !important;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
}
.default-twitter-text {
  font-family: "Roboto", sans-serif;
}

.icon-with-text {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.landing-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  background-color: #55abee;
  height: 100vh;
}
.landing-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #fff;
  height: 100vh;
}
.default-icon {
  margin-right: 10px;
}

.text-icon-container {
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 150px;
}
.liked {
  color: red;
}

.primary {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 0.9fr;
  @media screen and (max-width: 768px) {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.home {
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.right {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.default-card-styles {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: aliceblue;
  padding: 20px;
}

.profile-pic {
  width: 80px;
  border-radius: 200px;
}
.test {
  color: black;
  font-weight: bold;
}
